
<mat-nav-list>
    <div class="logo py-4">
      <img src="https://yt3.ggpht.com/a/AATXAJyzCVFZFJMEXz7203It6jjaAZcbiHxODZ6O-29otA=s900-c-k-c0xffffffff-no-rj-mo" alt="EAT YUMMY" />
    </div>
    
     
    <mat-divider></mat-divider>
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      
        <img src="./assets/images/profile.jpg"alt=" user-image" class="img-circle elevation-2"  />
        <h3 matSubheader class="m-0" href="#" class="d-block">RIYA SATAM</h3>
     
    </div>
    
      
    
    <mat-divider></mat-divider>

    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/menu">
      <mat-icon>menu</mat-icon> Menu Items
    </a> -->
     <a  mat-list-item routerLinkActive="list-item-active" routerLink="/customer"> 
        <mat-icon>people</mat-icon> Customers List
    </a>
    <a  mat-list-item routerLinkActive="list-item-active" routerLink="/orders"> 
      <mat-icon>shopping_cart</mat-icon> Orders
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin-profile"> 
    <mat-icon>admin_panel_settings</mat-icon>Admin Profile
   </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact"> 
      <mat-icon>contact_support</mat-icon>Contact Us
     </a>
    
  </mat-nav-list>

  