
<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Welcome Admin....</div>
    <div class="page__content  ">
   
      
    
         <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <h5 class="mb-2"></h5>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Orders</span>
                <span class="info-box-number"></span>
              </div> 
              <!-- /.info-box-content -->
             </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Customers</span>
                <span class="info-box-number"></span>
              </div>
              <!-- /.info-box-content -->
            </div> 
            <!-- /.info-box -->
          </div> 
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Admin</span>
                <span class="info-box-number"></span>
              </div> 
              <!-- /.info-box-content -->
            </div> 
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <!-- <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Menu</span>
                <span class="info-box-number">4</span>
              </div>  -->
              <!-- /.info-box-content -->
            <!-- </div> -->
            <!-- /.info-box -->
          </div> 
          <!-- /.col -->
        </div>
        <!-- /.row -->
    <!-- </div> -->
    <!-- </section> -->
    <!-- </div> -->



